@font-face {
    font-family: "iconfont";
    src: url('/font/iconfont.ttf') format('truetype');
}

@font-face {
    font-family: "butter sans Rounded";
    src: url('/font/buttersans-Rounded.otf') format('truetype');
}