/*窗体阴影边框*/
.shadow {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-effect: dropshadow(gaussian, black, 30, 0, 0, 0);
    -fx-background-insets: 30;
}

.shadow_full {
    -fx-background-insets: 0;
}


.news{
    /*设置背景色*/
    -fx-background-color: #262626;
    /*边框宽度及颜色*/
    -fx-border-width: 4px;
    -fx-border-color: #FFF;

    /*合适高度*/
    -fx-pref-height: 32px;
    -fx-pref-width: 140px;
    /*设置圆角*/
    -fx-background-radius: 60;
    -fx-border-radius: 60;

    /*设置字体*/
    -fx-font-size: 22;
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
}

.news:hover{
    -fx-background-color: #FFF;
    -fx-text-fill: #000;
}

.content{
    -fx-background-color: #1b1b1b;//内容面板背景色
    -fx-background-repeat:repeat;
}

.dragPanel {
    -fx-background-color: Transparent;//内容面板背景色
    -fx-background-repeat:repeat;
    -fx-background-radius: 20;
}

.ContentBottom{
    -fx-background-color: #262626;//内容面板背景色
    -fx-background-repeat:repeat;
    -fx-background-radius: 20;
}

.titles {
    -fx-font-size: 16;
    -fx-font-weight: 400;
    -fx-text-fill: rgb(255,255,255);
}

.pos_home:selected{
    -fx-background-color: #262626;
}

.pos_home:hover{
    -fx-background-color: #262626;
}

.pos_home{
    -fx-background-color: #1b1b1b;
    -fx-pref-height: 50px;
    -fx-pref-width: 200px;
    -fx-background-radius: 8;
    -fx-font-size: 22;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

.tips{
    -fx-font-size: 35;
    -fx-text-fill: #4b4848;
}
.tips:hover{
    -fx-font-size: 35;
    -fx-text-fill: #FFFFFF;
}

/*全局ChoiceBox*/
/*控件本身上的选定项目文本颜色*/
.choice-box > .label { -fx-text-fill: white; }
/*整个上下文菜单的背景色、字体大小、宽度*/
.choice-box .context-menu { -fx-background-color: #343434; -fx-font-size: 16;}
/*列表中的重点项目背景颜色*/
.choice-box .menu-item:focused { -fx-background-color: #404040; }
/*列表中非重点项目的文字颜色*/
.choice-box .menu-item > .label { -fx-text-fill: white; }
/*列表中焦点项目的文本颜色*/
.choice-box .menu-item:focused > .label { -fx-text-fill: #5B5BFA; }
/*控件主属性*/
.choice-box {
    -fx-background-color: #343434;/*控件本身的背景色*/
    -fx-mark-color: white; /*箭头颜色*/
    -fx-font-size: 16;/*字体大小*/
    -fx-border-radius: 5;/*圆角*/
    -fx-background-radius: 5;
    -fx-background-insets: 0;/*无边框*/
    -fx-border-insets: 0;
/*    -fx-border-color: #262626;
    -fx-border-width: 0.5;*/
    -fx-border-color: #5A5A5A;
    -fx-effect: dropshadow(three-pass-box, #5A5A5A, 3.0,0, 0, 0);/*阴影*/
}

/*输入框*/
.TextField {
    -fx-background-color: #343434;
    -fx-background-position: 5;
    -fx-border-radius: 5;
/*    -fx-border-color: #5A5A5A;
    -fx-background-insets: 1;
    -fx-border-insets: 1;*/
    -fx-text-fill: #fff;
    -fx-border-color: #5A5A5A;
    -fx-effect: dropshadow(three-pass-box, #5A5A5A, 3.0,0, 0, 0);/*阴影*/
}

.TextField:focused {
    -fx-background-color: #343434;
    -fx-background-insets: 1;
    -fx-border-insets: 1;
    -fx-background-position: 5;
    -fx-border-radius: 5;
    -fx-border-color: #bababe;
    -fx-text-fill: #fff;
}

/*执行按钮*/
.execute_Button{
    -fx-background-color: #5B5BFA;
    -fx-text-fill: #fff;
    -fx-background-radius: 5;
}

/*全局TextArea*/
.sp{
    -fx-background-color: Transparent;
    -fx-text-fill: #ffffff;
    /*-fx-font-size: 20;*/
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-highlight-fill: #7777c2; /* makes color of highlight region */
    -fx-highlight-text-fill: #FFF;  /* makes the color of highlighted text */
}

.sp:focused{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.sp .scroll-pane .content {
    -fx-background-color: #262626;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

/*滚动条背景色*/
.sp .scroll-bar{
    -fx-background-color: rgba(0, 0, 0, 0);
}

/*滚动条颜色*/
.sp .thumb{
    -fx-background-color: #595959;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

#ServiceTips .text{
    -fx-line-spacing: 8px;
}
/*全局Label*/
.GlobalLabel{
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

/*全局提示框*/
.tooltip{
    -fx-background-color: #2D2D2D;
    -fx-text-fill: #FFF;
    -fx-font-size: 17;
}

#TutorialsTips{
    -fx-text-fill: #5A5A5A;
}

#TutorialsTips:hover{
    -fx-text-fill: #5B5BFA;
}