
.shadow {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-effect: dropshadow(gaussian, black, 30, 0, 0, 0);
    -fx-background-insets: 30;
}

.shadow_full {
    -fx-background-insets: 0;
}


.news{
    /*设置背景色*/
    -fx-background-color: #DEDEDE;
    /*边框宽度及颜色*/
    -fx-border-width: 4px;
    -fx-border-color: #262626;

    /*合适高度*/
    -fx-pref-height: 32px;
    -fx-pref-width: 140px;
    /*设置圆角*/
    -fx-background-radius: 60;
    -fx-border-radius: 60;

    /*设置字体*/
    -fx-font-size: 22;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}

.news:hover{
    -fx-background-color: #1b1b1b;
    -fx-text-fill: #FFF;
}

.content{
    -fx-background-color: #dedede;//内容面板背景色
    -fx-background-repeat:repeat;
}

.dragPanel {
    -fx-background-color: transparent;//内容面板背景色
    -fx-background-repeat:repeat;
    -fx-background-radius: 20;
}

.ContentBottom{
    -fx-background-color: #ffffff;//内容面板背景色
    -fx-background-repeat:repeat;
    -fx-background-radius: 20;
}

.pos_home:selected{
    -fx-background-color: #fff;
}

.pos_home:hover{
    -fx-background-color: #fff;
}

.pos_home{
    -fx-background-color: #dedede;
    -fx-pref-height: 50px;
    -fx-pref-width: 200px;
    -fx-background-radius: 8;
    -fx-font-size: 22;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}

.tips{
    -fx-font-size: 35;
    -fx-text-fill: #929090;
}

.tips:hover{
    -fx-font-size: 35;
    -fx-text-fill: #5B5BFA;
}

/*全局TextArea*/
.sp{
    -fx-background-color: Transparent;
    -fx-text-fill: #000;
    -fx-line-spacing: 4px;
    /*-fx-font-size: 20;*/
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-highlight-fill: #9B9BFF; /* makes color of highlight region */
    -fx-highlight-text-fill: #000;  /* makes the color of highlighted text */
}

.sp .scroll-pane .content {
    -fx-background-color: #fff;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.sp:focused{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

/*滚动条背景色*/
.sp .scroll-bar{
    -fx-background-color: rgba(0, 0, 0, 0);
    /*-fx-max-width: 10;*/

}

/*滚动条颜色*/
.sp .thumb{
    -fx-background-color: rgb(226, 221, 221);
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    /*-fx-max-width: 10;*/
}

#ServiceTips .text{
    -fx-line-spacing: 8px;
}

/*separator分界线*/
.separator *.line {
    -fx-background-color: #E6E6E6;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2 0; /* 宽度 */
    -fx-border-color: #E6E6E6;
}

/*全局Label*/
.GlobalLabel{
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}

/*全局ChoiceBox*/
/*控件本身上的选定项目文本颜色*/
.choice-box > .label { -fx-text-fill: #000; -fx-text-alignment: center}
/*整个上下文菜单的背景色、字体大小、宽度*/
.choice-box .context-menu { -fx-background-color: #fff; -fx-font-size: 16;}
/*列表中的焦点项目背景颜色*/
.choice-box .menu-item:focused { -fx-background-color: #F4F4F4; }
/*列表中非重点项目的文字颜色*/
.choice-box .menu-item > .label { -fx-text-fill: black; }
/*列表中焦点项目的文本颜色*/
.choice-box .menu-item:focused > .label { -fx-text-fill: #5B5BFA; }
/*控件主属性*/
.choice-box {
    -fx-background-color: #fff;/*控件本身的背景色*/
    -fx-mark-color: black; /*箭头颜色*/
    /*-fx-effect: dropshadow(three-pass-box, #2D2D2D, 3.0,0, 0, 0);!*阴影*!*/
    -fx-font-size: 16;/*字体大小*/
    -fx-border-radius: 5;/*圆角*/
    -fx-background-radius: 5;
    -fx-border-insets: 0;
    -fx-border-color: #2d2d2d;
    -fx-border-width: 0.5;
}

/*执行按钮*/
.execute_Button{
    -fx-background-color: #5B5BFA;
    -fx-text-fill: #fff;
    -fx-background-radius: 5;
}

/*输入框*/
.TextField {
    -fx-background-color: #fff;
    -fx-background-insets: 1;
    -fx-border-insets: 1;
    -fx-background-position: 5;
    -fx-border-radius: 5;
    -fx-border-color: #bababe;
    -fx-text-fill: #000;
}

.TextField:focused {
    -fx-background-color: #fff;
    -fx-background-insets: 1;
    -fx-border-insets: 1;
    -fx-background-position: 5;
    -fx-border-radius: 5;
    -fx-border-color: #bababe;
    -fx-text-fill: #000;
}

/*全局提示框*/
.tooltip{
    -fx-background-color: #F4F5F7;
    -fx-text-fill: #000;
    -fx-font-size: 17;
}

#TutorialsTips{
    -fx-text-fill: #6e6e6e;
}

#TutorialsTips:hover{
    -fx-text-fill: #5B5BFA;
}