
.shadow {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-effect: dropshadow(gaussian, black, 30, 0, 0, 0);
    -fx-background-insets: 30;
}

.shadow_full {
    -fx-background-insets: 0;
}


.news{
    /*设置背景色*/
    -fx-background-color: #DEDEDE;
    /*边框宽度及颜色*/
    -fx-border-width: 4px;
    -fx-border-color: #262626;

    /*合适高度*/
    -fx-pref-height: 32px;
    -fx-pref-width: 140px;
    /*设置圆角*/
    -fx-background-radius: 60;
    -fx-border-radius: 60;

    /*设置字体*/
    -fx-font-size: 22;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}

.news:hover{
    -fx-background-color: #1b1b1b;
    -fx-text-fill: #FFF;
}

.content{
    -fx-background-color: #dedede;//内容面板背景色
    -fx-background-repeat:repeat;
}

.dragPanel {
    -fx-background-color: #ffffff;//内容面板背景色
    -fx-background-repeat:repeat;
    -fx-background-radius: 20;
}

.pos_home:selected{
    -fx-background-color: #fff;
}

.pos_home:hover{
    -fx-background-color: #fff;
}

.pos_home{
    -fx-background-color: #dedede;
    -fx-pref-height: 50px;
    -fx-pref-width: 200px;
    -fx-background-radius: 8;
    -fx-font-size: 22;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}

.tips{
    -fx-font-size: 35;
    -fx-text-fill: #000;
}

